/*
 * Contains the toggle button and the actual sidebar.
 */
#menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
}

/*
 * Toggle button
 */
#menu [data-toggle] {
  border-radius: 50%;
  border-width: 0;
  background-color: #4d75ed;
  width: 6em;
  height: 6em;
  position: absolute;
  right: 6px;
  bottom: 6px;
  color: white;
}
#menu.open [data-toggle] {
  background-color: white;
  color: #4d75ed;
}

/*
 * The sidebar
 */
#menu > div {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20em;
  background-color: royalblue;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
#menu:not(.open) > div {
  right: -20em;
}

/*
 * Table of contents
 */
#toc {
  flex: 1;
  overflow: scroll;
  padding: 1em;
  font-weight: bold;
  font-size: 11pt;
}
#toc ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#toc ol ol {
  margin-left: 1.5em;
}
#toc li {
  margin: 1em 0;
  color: #d8def0;
  font-family: sans-serif;
}
#toc a {
  text-decoration: none;
  color: inherit;
}
