img {
  max-width: 100%;
}

figure {
  text-align: center;
}

figcaption {
  font-size: 90%;
  margin-top: 1em;
}

h1 {
  font-size: 14pt;
}

h2,
section h1 {
  font-size: 13pt;
}

h1,
h2,
h3,
h4 {
  margin-left: 20pt;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #333;
  font-family: sans-serif;
}

/*
   * Mark like "Part One" or a number which
   * may be present before the actual heading.
   */
p.mark {
  font-size: smaller;
  margin-top: 2em;
  margin-bottom: 0;
}

p.mark + h1,
p.mark + h2,
p.mark + h3 {
  margin-top: 0;
}

p {
  margin: 0;
  text-indent: 20pt;
  text-align: justify;
}

pre {
  margin-left: 0.6cm;
  line-height: 15pt;
  font-size: 10pt;
  overflow: auto;
}

code,
pre,
samp {
  font-family: courier new, monospace;
}

hr {
  margin: 2em auto;
  width: 5em;
  border-width: 1px 0 0;
}
